ul.post-list > li > ul {
	margin-bottom: 15px;
}

.pagination {
	text-align: center;
}

a.ativo {
	border-bottom: 2px solid #36ae00;
}

.interesses {
	/*border: 1px solid;*/
	width: 250px;
	height: 400px;
	display: inline-table;
	text-align: center;
	padding: 5px;
}

.interesseiro {
	text-align: center;
}