body {
 font:400 18px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


ul.post-list > li > ul {
	margin-bottom: 15px;
}

.pagination {
	text-align: center;
}

a.ativo {
	border-bottom: 2px solid #36ae00;
}

.interesses {
	/*border: 1px solid;*/
	width: 250px;
	height: 400px;
	display: inline-table;
	text-align: left;
	padding: 15px;
}

.interesseiro {
	text-align: center;
}

.foto_sobre {
	-moz-border-radius: 5%;
	border-radius: 5%;
	width: 225px;
	float: left;
	margin: 10px;
	border: 1px solid;
}
.foto_links {
	-moz-border-radius: 50% 75% 75%;
	border-radius: 50% 75% 75%;
	width: 225px;
	margin: 10px;
	border: 1px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .foto_sobre {
    float: none;
    width: 80%;
  }
}

.badge {
  background-color: #297d04fa;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}